## Importing necessary libraries

In [1]:
import requests
import pandas as pd
import time
import random
import re
import numpy as np
import _pickle as pickle
from tqdm import tqdm_notebook as tqdm
from bs4 import BeautifulSoup as bs

# Gathering the user bio data
### BeautifulSoup is used to navigation
### BeautifulSoup is a python library for pulling data out of HTML or XML files

In [10]:
# Randomizing the refresh rate
seq = [i/10 for i in range(8,20)] #Represent the number of seconds to wait for refreshing the page [0.8-2.0 secs]

# Creating a list of bios
biolist = []

# Gathering bios by looping and refreshing the web page 
for _ in tqdm(range(1000)):
    
    # Refreshing the page
    page = requests.get("https://www.fakepersongenerator.com/user-biography-generator")
    soup = bs(page.content)
    
    try:
        # Getting the bios
        bios = soup.find('div', class_='row no-margin for-sign').find_all('p')

        # Adding to a list of the bios
        biolist.extend([re.findall('"([^"]*)"', i.text) for i in bios])
    except:
        pass
    
    # Sleeping 
    time.sleep(random.choice(seq))

HBox(children=(IntProgress(value=0, max=1000), HTML(value='')))

In [11]:
# Creating a DF from the bio list
bio_df = pd.DataFrame(biolist, columns=['Bios'])
bio_df

                                                    Bios
0      Passionate analyst. Incurable pop culture prac...
1      Organizer. Hardcore web guru. Certified coffee...
2      Hipster-friendly social media scholar. Profess...
3      Writer. Introvert. Beer aficionado. Music spec...
4      Creator. Unable to type with boxing gloves on....
...                                                  ...
14995  Coffee expert. Unapologetic twitter guru. Avid...
14996  Freelance bacon enthusiast. Infuriatingly humb...
14997  Hardcore twitter practitioner. Extreme web exp...
14998  Hardcore tv guru. Troublemaker. Typical food l...
14999  Beer evangelist. Entrepreneur. Certified socia...

[15000 rows x 1 columns]

# Adding other attributes to the profiles

In [12]:
# List of Dating questions according to the questionnaire
attr = ['Drinks',
      'Perfume',
      'Vacation',
      'Personal Style',
      'Music',
      'Hobby',
      'Food',
      'Scent',
      'Feel']

In [13]:
# Creating a DF of the categories
attr_df = pd.DataFrame(columns=attr)

In [16]:
#Randomizing the attributes to numerically represent the categorical data
for i in attr_df.columns:
    
    # Range of numbers to represent different categories of each attributes
    attr_df[i] = np.random.randint(0,13, bio_df.shape[0])
    
    # The numbers represent a specific choice within the categories
    # For e.g., your preffered genre under the Music, your favourite hobby, etc.

In [17]:
# Viewing the randomized data
attr_df

,Drinks,Perfume,Vacation,Personal Style,Music,Hobby,Food,Scent,Feel
0,7,10,5,9,7,6,11,10,8
1,12,4,2,1,12,1,4,1,6
2,8,10,6,3,1,4,2,8,2
3,4,1,9,4,10,7,1,4,12
4,11,9,1,5,2,11,5,1,7
...,...,...,...,...,...,...,...,...,...
14995,8,0,4,8,9,12,2,12,4
14996,3,9,9,6,2,12,12,6,5
14997,7,6,6,11,5,2,11,0,11
14998,8,7,7,1,11,8,1,8,3
14999,9,10,12,7,3,9,1,1,7

In [18]:
# Joining the two dataframes ro create the final dataframe
final_df = bio_df.join(attr_df)
final_df

,Bios,Drinks,Perfume,Vacation,Personal Style,Music,Hobby,Food,Scent,Feel
0,Passionate analyst. Incurable pop culture prac...,7,10,5,9,7,6,11,10,8
1,Organizer. Hardcore web guru. Certified coffee...,12,4,2,1,12,1,4,1,6
2,Hipster-friendly social media scholar. Profess...,8,10,6,3,1,4,2,8,2
3,Writer. Introvert. Beer aficionado. Music spec...,4,1,9,4,10,7,1,4,12
4,Creator. Unable to type with boxing gloves on....,11,9,1,5,2,11,5,1,7
...,...,...,...,...,...,...,...,...,...,...
14995,Coffee expert. Unapologetic twitter guru. Avid...,8,0,4,8,9,12,2,12,4
14996,Freelance bacon enthusiast. Infuriatingly humb...,3,9,9,6,2,12,12,6,5
14997,Hardcore twitter practitioner. Extreme web exp...,7,6,6,11,5,2,11,0,11
14998,Hardcore tv guru. Troublemaker. Typical food l...,8,7,7,1,11,8,1,8,3
14999,Beer evangelist. Entrepreneur. Certified socia...,9,10,12,7,3,9,1,1,7

# Exporting the Final Random User DataFrame

In [19]:
with open("profiles.pkl", "wb") as fp:
    pickle.dump(final_df, fp)